Source: snowshoe-mobile
Section: user/other
Priority: optional
Maintainer: Lauro Moura <lauro.neto@openbossa.org>
Build-Depends: debhelper (>= 5), webkit-snapshot
Standards-Version: 3.7.3
Homepage: https://github.com/snowshoe/snowshoe

Package: snowshoe-mobile
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qt-components2 (>= 2.0~20120228b5), webkit-snapshot (>= 113677)
Description: Snowshoe mobile browser.
 Snowshoe mobile browser.
XSBC-Maemo-Display-Name: Snowshoe Mobile
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
 AAAOTQAADiYBwNzaZQAAIABJREFUeJzNm3d4HNd19n93ZrYvgEUHiE6AvYC9d4pFlCiSsklJLpIs
 ucSOHSdx7OSL0+w4jiPbcRzLtootWxYjsUhUIylS7GLvFAtIggSI3vsuts3Mvd8fAItEkJJjJ993
 n+fuTp/znvOec8/cIvhjF6XEVza2+HS/7TFsp1OYUR+GS7Nt6Ra60D7WI2wldV2LxqyYdDrcvZYe
 j9shPfKL1Rm9CKH+mOKKP/wRSnz99a4kW4YKHIYzWyiKpVAFli3zpBQpllIFKOVWSmQicAMoBbZS
 qH4oQoAuBOK6NIqoEKoZIaKGENWapjoMXavVlKhWggrTijfqmr/6p6sC3fCHKeS/rYBv/K7RZwXE
 WKHUMqXE0JglC+IW2XFb5pu2wpJgy5tAbam4VVJbcmNfAPot3OjbFzcUo2tgaODQBU5dq3EaNLoM
 rVoIVa6E2Gp0qbM/fjS7939FAV98q97rtbT70XjckmpEd1Rl9cakO2YpbKWwFTcs+8cumuiruhC4
 DIHPpUWT3KLJ0MRFJL8NG3Lzcw/khH+fZ35MBSjx5IbaZI/mWGQp+Y9xixHdUUlP1Eb+D4G9WxHc
 ZI8mINGtk+TWcBpcNIT2nYg0d/x6TV7nx3GPj1TA6g1KT6NmHEr/QtRWj3SGZWIw9v8G+N2KJiDB
 pZPs1XrcungFYT/fRv6ZjWuEfbf7jI96cJpsWG7a4m+CMXt8V8R2xqz/z5D3FxvosiwiMZEY8Oif
 S3CJcWl6ww+AN+52310Z8PlXqmdja+taQ+agYFT+D1hdfZQI/61naAIS3BrpfkcDunz4V48U7L/T
 3QO+ffUGpSdHa5fb8PP6rvigcFz+QSIKJRF2HK+wyHBFcDocJPscWJZFTBp0Ky9NIUlc6fwxdex1
 auQEnA06/GmnO+/tgdxhABdQIilcMS4m9b9p77UH9Ubv6kJ3LbpQuGSUwX6TwlSdbBcsnz8Ol8ug
 qbGbnlCUosIMuoJxdl/soC4oOFbRSUh5kErhMDRMW30085TqSyY+xIbeqE1zd2xQms/4m6RwRS2o
 Ux8OjPqHn/Xk86tTJI5vdUXkvV1hU1eyv137varEbUeYkBLnkemZzB/qY2imn3BnkECij7b2bkxT
 curENdweAytuMX1UBtNLEshJAN2M4pQxlk9Iw6kLWrpNLPtu7+ND/zdr3JIIITJcutAmLm84dPrt
 X0RuxXsbA2zbtShsqke6e02n/XsGvNxkJx5D0lTfysQ0nRmFKTi7O+mKaNiyz6LJKT5O7aokOyuJ
 OXOGEgrHaWzqJBSKMXZMHnNHZTO2IEB7R4RwKMrkySkUpzo4UhniWruJ+bEIeZMJtoTuXtPp1ByP
 eB2uPcD6W6/8AAPuf/aE16FcL3f2WrnhqP2xrK2hSHLC6BSLv1uRx9wiJ8MTTPJSPZjRMHEzRlLA
 R3tbiOMnK8nKSsHndVB2sYHi4izaO0IEEr10tocIJHioqGyhobaT9tYuzFiUgM9JvtdmWo6BHQ7T
 HNWJxe2+ZOsjGdFXbVuhlHK5DTGq4IHHflO++TlzQAVMXvrNVVFLfrkjaKI+Bni3IRiZYbB8lJ/P
 zMvBLQRXrjSQlOjD6zEYXJRFVW0ztm0zuCiD7p4IJ45fYMnSiSigqbGbooJUPB4Xfr+bhppO2ttD
 hHoimPE4kyYP4cSJSt566zhKwJLp+ST7DZpbg8RkX3z4uG5pWhK3Q0v3K8/Zc1t/duE2BSz64Rmf
 z6F9v6PXHhKN9yfqd6heh2Bcrpv5IxJZNT6JNMMkNdlLNGbR2taDlIKG+i7qG1oZU1qAQ9dpbOhk
 8uQS2to7yclKJyXZh5QKh67jdhtcKqvD6TSoq+9A2TZDh+Zw6GA5R4+VU1qax5ix+Zhxi1SPzqjc
 JBxIatsjmFK7q6zX6/X03OfCnzX/C29U7njGhFtiQJrhHGtaakSw1/rIXD4v4OKx2RnkpTgIB2OE
 HAah3igpAT/xiEVaciJut+A3v9pCTzDMlEkllAzNBk3n/mXTaW0NkpzkJy0tCZ/fSX1NJ4mJfiqr
 GklN8TJ4SC4v/Go7rc11fPVra/Al+giFYzhdTtKSvCTEbZJG+EnTu9lSoWgJ3V3e6yXYa5Hs0Uak
 Gc6xwGGA/m8wJaRgWShsZUlbouSdqy4URjwC8RgpiS6uXK7F49RBQbDbpKg4g6qaFuIxk2/99UMU
 F2f1J+8aoZ4IPq8Hy5IoYaELsEyJ06nT1Rlm4vgSIhHFU//yCroI8q2//TSG7iAWlQwbOoj8vBQ8
 XgdWLMbFs5XQ0cU/rcxkZEoMQ6i7yq2kRNqSUMTKkoJloMQNF1jxk5UBIbXHu3rtUtO6O/0LUxw8
 eU8OBWkubFty7nwdum7gdjlxugzSAj4Sk9zs3HkCt0fHjFm8/tp+lBA4DYFpWiBthNLIzEimJxii
 trYVwzC4fKmarZt3sObh+UydNo6OjgjJSR48fiddnRFiEYum5iBV11qpr20jHDHJSvMxdXQWHb2S
 ho44Un6UOwjD5xRNJfc27Li8/dmoDjBy3leH2bb6TE/YyrVtecdAYmiweJiLOcMTqa9r4+rVZkqK
 s6itbsW2JOFwnOzcAKYJbrfBunV7mT5tOMNG5GFJKL9cz7XKNjKzU1FoGLpOMBihuaUHaSlC3R3M
 nj2K1jYTqRRpKUkcPnoRp8OF2+Ph5PFL7N1znF27ttHWUsukKRNoaQ0irDhji5O4WNNLV+SjAiK4
 HVpIs/T9l3b9srnPBZSdHYvb2bYlUVLdsU4ZnMBnFxeSmOghKzOJ8+fL8Xk0JApfgpvmpm4sS1J2
 oZGMjFTmzBrB977zKxL8Pjraetm5fTcnjhzDVBqNTZ10dfRw5nQlF8/VkprmZ/L00Zy/2Mao0fnY
 EcW/fW89Q4fk4PO72bH1BFJKiooLGFJcxKKlS3F5PeRkJ3P+XDUJmsk9wzx3lV9JhW1JYnE7G2Vn
 98cAJVCiOB6X+batkHLgWpLlYWGx4Btfe4rnnn0bCQR8Xk6eqmRwUSbHj14iIeAl1ivx+XTKy5tY
 8eBcPvPocvbtvcC9SycxeuRgWjubCHX0cvTQCYLRMFevNpJflI7X5+GNN49w/7IpnDxeRSgS55kX
 v4rb7WX3jgvMXTiSIUPzSE728+SfPEZaehojR2TS0xtj+IhCWlrCrJqdy4KRiXfEIGVfThCPy3yU
 KAYl9Ln/OM/vEM4V4YicGTUH9n+XBp+YmsYgj82B945QWdlEVnYWU6YM52c/f5U5s0vp6enh6NEr
 FJTkkBxwsXnzUfJzU5k+fSRer4fGpjZWPLiAwsIRdHV2klOQx7GDp4mFowwdUsSly3WsWDmFt18/
 Qn5RFouXjqGyspljR6t4YMV4Ll6s4L09J5k5dzxm3CQ7O5GWliCpqT6uVdZwpbwWf0ISU0amse9s
 KxFT3KE5VBiawOnkQvacy4c1TzzJY8Vlnm1f78S7vZZkuJlUlEBKwMPKTz5I0eBcDh48TULAjRlr
 ZcP6t5gzbzz1ddfY8vYBMrOSGVc6mL27zmFaNglJXlwunV17TjK2NBvQCHZFuXDuKlmZmVy+VMHU
 KUXs3HWKqTOGsWzFOC5fbObooasse2Asp06Ws+6lzYwpLSEeExQUppKc4icnJ5MzJ8s5fuQ8bpdB
 emYiRTkJLJuYekcs2BLLklhxmeeJJ3k0XQintEmxLYlSasBaf62CTevfweN24HJaOBwOys6XUXbh
 Gk88+RAHDpZRU9PK3377Md7ddph9+85wz+KxHD5+hosXa2hpbkfXBLap2L/7DKNGF1JX3YbhCLD/
 aBlzF5by2sZ38bp1pswazpVLjezceZoJE0p449XjvP7aEZYsm82sueMZNjwNh8PgwoVmXnpxM2tf
 WottW9TX9xAJ9eL1GJQM8uHS7DvikbZE2jIVO+7S82c+kW3b6suRmJ1m2QMrwbRsZk/IxopGGTem
 kNa2IA0NrZw4cY7Hn1hJ1dUWDu5/n0WLp5IYSGHntn3MmTuetORk3th8ikmTitm89QizZo/hyqV2
 MCRpaT527n6Tv/7WExw4eJbcglQeeHAOVZVt/Pw/NlFUkkc4bONwaUyfMZblK6fj9jq4dq2Ntb/b
 y4+f+mf27N3I7GmzmTp9DBmZScRNyZBhObiEorwmSH2HOSAeATgcmmVo4lVNF7ompXJLqWCA6hCK
 8Xl+Up0wKDuZYyermDJ1BCtW3Ut9TSunT55lxcppXKu6xu5d51i4cDimtHlv/xkWLZlEgs9PS2uI
 ++6dyo6d77PkvjH0BKNohmT9hmc4cbKWpORM7r1/AT6Ph3XrDhEKxwmkpDJidA6ffXwmk6fncPzo
 WZ792ev8+de+yUu/fYqSkhwee/TPiCmTw4cPs/Pd/SgE8ZgNtsXkEj8+pxgQk5QKaSu3LXRNHzzt
 yVzLVl+PxmxDSnVb0MgMOHh8QTYnD5+isqIGf0ICF89fZOLkEiZOGsmmV3ez9P55tDa3sGXreyxb
 tpDW1nounL/G9BljSEtPZPuOM0ycWEx2RiIv/m4LD9w/m4orTWRmJdMbjRHqVeiGg7c27ebSlRqe
 +MIqpkwswOmU7N13hp/++9Ps3HGU93bs5mLFe6x++DEWLl7BuPFjse128gfnk5aezYjheTS3hmlp
 7qIwL4HyujBNXdZtmATgMjS3rnhRs4WuKVu6+1Lg29tNl6GRmeamZMgQZs2eRGdbO+Go5Ac/+CEp
 aQ4e+vQamhp7WPOpBwmGuvjpT15g/uK59PTGqKvvoLg4E03T2Lv3EqNGFzFtxnhee/UA02aNZNPb
 77P4njEMHppNfUMn4yeP5tt/9wjBcA+PP/FlVj7wGH/x9a/S3hIhNSUXl9vBvUs/z7SZszl67B3+
 5Z+/w/3L11BR0UxvqJmiomw2rt9ObW0TxKJMGZY4ICZpS5Qt3ZZSul405fFs21ZfisZtBur9CXgF
 D8zMJNIbJSHRS06un2sVDeTmZfPNv/gG02feQ9yEoSUZKM3gd79+nuLCEiZNHce+3eeYOWskmZlJ
 VF6pAyTz55dS39jDlas1zJw6hFc3HWbZ4pGkJsOF8jP88LsvcOLEaVav+QTjp87n3nuX4/FJjh56
 j5UPP0FicgYpKYksXrSEXbve5M1X95Ofn87SpTN5deNBEvxOhgwdjNvtJCcrwJuHW27DJAC3Q0NX
 9nN60bQns03T/lI0Jvv7AD5IF4ewmVTsoKSoL+X1eP3oIkp6ejapiT6OHT1HOGzT1t7N0iUTef2N
 16hraGL5A4s5eqyMQZlZDBmeQVLAz5YtZxhTWkhpaR5nz1bQG+olNy+NA++d5cihgzz9H0/z5BOr
 Wf7gUk4cv4xlRgmFq/nPp57ivgc/SfGQMfSGeikqzqahtpOMzBGEehv56p99jq4um317T3LfAws4
 caKckSPzqWoMs+ds9+0uoMBlCAxdPKeZJti2RMqBXSDSG+HShQYSE9y4XQ7CvREGlwzF7XaxYOky
 7r1vHoNy/OzZeRiU4Ot/9WXOnDrAsWPnmTBuKGvXbwVLEQ7FmT5rOFu3n8XtcrBq5QwqKupRlkAT
 kJsznKef/hkHjx5m47o9uP2pHD2+g3/71++S6E/EaSRxrbKSnu4uTNNm+/b17N+zh7//x79ACAcb
 N+xj3tzptDS30dsbJdwbIxaN4tS53QWkxLYlpgkamEipUPYdWgHDSbDb5NjxawwbmYPTaXCprBJN
 KGqqO7BsNw6Hlwnjh7H73QPcu2ghEyeU8sq6jWjuTM6dOM/J09fIzc9E2TpZuQm8u/0ULpeXxffP
 5O3NR5gweRzBcJy0jEKGDB9JT4/Oa+t+yjtvvYIj5iQtIx9/IBUlLXweH93tEYIRxZqHZ1NUmEP5
 5VayczLwB/wcPnKOzOxUautaGFWczJBsz22YVH/KDyYaJkhLXk8ObqtOQ8Pr93ClvJ5Qd5TCwgxS
 0txcOH+OhQtGsnPbFvbsPIQlNY6drkbaTv7hn/6FSE8br659hqWr1rD1nUPY0iY9249H6ly80kBn
 dw8ZGYnMmjee7dv2seahWWzZdoAlCxdQMsQi2htl7PDpDBszDbfXTyAQIC1tEF2dEfxJfp76wbeZ
 NmMKX//6T9iyeTv5uam8s3Ubg7JzyR6USnN7iOQkJyMKkwbGZkkwQTPhRv/fQC6Q5omRmOTB4TY4
 f6EWhMLjSiI3v5gtW47w7b//PMWD06itasClu3j+mbcZPWYEK1c9xL59r5PgVwSDio0b9jOkMJOt
 7xzEcHo4uP88fpcbTTjp6Yzwox+t41OfWsD3v/tLJk2ew8Of+VNiUhEKhhgxejKDcjIZXZrD176x
 nCHFCex6dy/PPrMFh+GhdMIoGpo6yMkpJCk5ieqqZlqbu3A6HSR4jdswcT3BA/TcMZ/Llkp+KW7K
 mx1nt5TMJMncibn4fTr79x0hNz8fl1Py/ukKauvaKS+7yv2rFtPW3ERdfRsdPUE8HkFRQQo7dm6h
 sz3EtBmzOLD7EGNLRxBIirNr90EMI4P8vBSi0RA9IYtwdzOnjl/k3vunsu6VN1mydDpjxw1j3tzZ
 fPLh+xlfmkvcVPzm+Rd58823aW+Jk5CYQmFhLprhoKO1E7fXg9OpYZrgdBiMLS1k14k2LlcHP4BJ
 IHA5NDQpntNzSh8ZZNvii3HzelfzB2tqAkwbFcDr9qDrgl8/+1/MmTeLrEwvb2x8C6V8tHZKFi+d
 TEPdZQ4dOI/UHCy+ZzpOI4kNG14gI2soY8aOZMtru/nCl5dz7swVjh+9Snd3hDVrZtLYFCaQWsil
 y+eIxSMsumcOBw5cZs3qZURNFz//ya/5+dNP89rLr5MQyGbGrPl0d4fo7OwiNT2ZQFIiHreB1+3D
 6/MQDIWZNKEEG42fr79ExNQ+lAgpnLqGrtnPaZalKyllf3p4u6/ETIHb0Dj7/jVmzxxHXm4CX/nS
 X3L2fCO/fvGH1DXt5eWXfsS/fv8XPPTpT/Lnf/lJTh8r48jRav7P332Nxx/9JmdO7GLcuGKCZiM/
 +tHrfO7JVRjODrZtO0zZhS7Gj8vg9ImDpGWNoaK8iYbGINNnjOD7/7qeYE87Lc3XyEgbyqx7VtHd
 2c2637yARDJp0giSU/zU1dQSiUXQXTqXyyqIxizS0n1cqOihPaTdjqu/JTBN0DPGfDpTSfm4aUpD
 DeACAbfF/fOLaGnqYvfOI3zq0SUkJCSwaeMbVF6r4itf+QLQy66db3Lk8ElWrVpJXn46p05VM3xY
 ITPnTuDMiRZC3XEeefQ+nvnPHzN3/mImjB/O1s3v0NLuYcGiqSxaOILWpqvEZToXzl0lPz+brFQH
 F8sq+cSaB7lw4Sx73nmNlLR0psyYR2npSMLhHlqaO3A4+iJ9MBih6tpVBmWnM7q0hE3vlnO18fah
 JAEYhhZVmnheHzTy0WQp1UrLkgFpD5AIGTrTRyUwuCiTHdt3sn3bNqZPn0HR4KHs3LGVM+8f5pFH
 HmLmzPkcOnCUnbv2MHrsNLz+dNpaY0yfnk9TQytHj77P8uUL8fncvLT2LVZ9YiVXr5zh+MmrTJgy
 h0G5iWTn5BFI0KivD/LmpvWs/ORKqmsqOH70KPfetwCH009+8Ri8PhcVV69ixuK4XIkITae1rZnu
 7iDNjdcYUzoMwxNgw856esK3d4xoAgxdq3do/FbPGP1wirJZbZoqbcBRWGlSnK4oyEtl7rwJCBy8
 u30/zY09LFz6CMffP86+PVuYMWMOX/zi5zh16iTrX1mLLh3U17UzqDAHnzvK+nVrcRqD+Oyj89i3
 4y2CloMvfOFR/u17f0UsqjN92jQO7D9FICWDFcvHU1nVxC9/+SO++X/+mWtXqujqlHz2yTW8t+sU
 dbW1aEBjQyM9wSAOp4eKS2dxupygNGbNncmu/WWcqrCwcQzAAIGhi2Yl5Mt61sgn3EhrnmXJ4oF6
 hE3Two5Hycvw8sxPn2HBwomsXLWE9IwkovEY06cuobKqgrUvPU9dTTt/++2/AjvGu7s3UHbmIK2t
 UT750CdxaDF+9OO/5/HPf42k1ER+8L2fkFs8lmkzV7Bx7Q9JCSTw+Ofu5YVf7SIS7uXLf7KSq5UV
 /PIXP2TBks9SfbWcSxdrePyJZWRlZzB33mSmTJ+P2+vhnc2vYAmTQHI+Y0pH0hWUbN1zkW4rgEK/
 DZOuCRwGp7G1V/XsUQ+7pa3mmZYcbQ9AAYWGGYswsiCB1LQUvvfdf6ClqZuiwYUMGZbLiOGDmDN7
 PqPHLOBqeRNnzl5jxYrlLFp4D7ZusmPbW8SjFqsffojLly5x/ORlPvvYEzi0MC88+wL3r1xFcmo6
 WzZvYvqM2ZSOy+bnP1tLqDvMg6vXkJnm4fjBPSQm59NQV4du6IwpHc6xE6c4euwwG9c/RyweYeyY
 OXjcTgqKh7Br+zbarXR6VdIAlAZNExi6dtxwiM16SvoKTbiN8bYlZ95pTCAal6QlOBk1JJdAIJlj
 R89y8VI1p0+V8f7pMs6dvURTYzOZg4o5fngXe/bsJZCcxcOffozs3EEcPnoYh9PPjJnLeeH5HzKu
 dAaz50xjw6YNXDp3krnzP0FDfT3N9U0sWbaA5qYwW9/exo7d7zKudDozZi2gubGOYDDE5UuXSUrO
 o72jnm2bN6HQGTNmJl0d7eTmD+bihbN0hFy02dmY1u3Wp79T1HCIdywtvEtvrd5gpg25PNS25TLL
 HnhQUCqNzq5u3JpJXm4WRSVDSU3PxULn9MljVFVU0NjQhNfjIzd/CL29vVw4e4FNr/+W5IRsRo29
 h9MnjjNqwmxqqiopL7/AwnvuZdq0efzyF/9ONBpi9pwHeXvTy+SVlJI7KBuHO4WiISX87vlfUFPb
 xqwFS3Dogs2vv0BV9TXGT1jEkqUrycwahbQsIpEwjQ31nLjcS4cxirDp4E7zjwxNoGnilbLXVx3S
 4TsklzycqpSaY9syaeAZIRCKCpwijDB78HgdpARSmDR5HPPmL2LKrFnMWzif7OxU/IkeRpVOo3jo
 CELdndTW1pCYkkNSSgZNNVeZOm0xr778Amhu7ntgHs3NcTa//gICGDZ6EpvW/oacotHYdpjOtm6+
 /JffoLmhitdffhHDl0TxiCm8f2YPp04eIiWlgK7uvsGYkhETOHWplTatFNPWGWi2CEoh+lqAGoX4
 XfuV4Vd1gJSi1T5gnm3J3IFyAQClBM3dGoOy0gh1NlNf10R1TS1xs4fEBCeZmQkUFOaQX5hFfkEK
 hYVpzJo3m5Hj5lJX20RDdTmxmEXh0NE4PQ6ulpdRMLyUBKeDy+cvUV1dRtHgUnyJiRzet5lRY2dy
 7OgOuro6mTZrFqUTR9PdUUdHazeZmUXE42GOHtlORkYBrW3NtDQ3ohtuWsJ+FHeeky0AQxeXkPKV
 jooNzTpAQu4jMacuZlu2PUp9oF/wg9qTtqSlyyQ1JYBLC1N+8RInTpzkyIHDHDl8gvKKDmpqg5SV
 VfHevkPs3fUeZ0+V0dpYRyzWS7C3i0goRHHJWNraW8F2M3LsWDrbu6ivraG1sYr8waPx+bxIaTEo
 r4Czpw4T7OwmJTWdMeOnkZtfRFtbO+3NLSQmZ1JbdRWhu+js6qYrGKNXZfbB/ID83KiaBk5dPxSL
 i7Xd1ev7Bke7q9fHUkvWjFWSKZatjOvx/8a/UqAkStlEYyadQYucnEzGjh2Mrjtpa2uhsb6KS+dP
 oXBjWhqdHd001tVSVfk+LY1VNDVWcbXifS6WHUYIncFDx3Lu1CGy8oeQXziYtpYu3D4XCX4HgwYV
 0dPdTsXl9xHCQXNTLV6Pn/Pnr9DZ1cPgIeOJWYrGujoUOhHLQUc8mRDZWHj7v+n6gd+IA33/Dl2L
 agZvV+5+cBvcMkMkUPhwVAiWWLYK3ACvJEpJwEZJCyXjKDtKuDfItdpmyi5XUlCQyfCRY/H5U7DM
 OFWVp2muryAhMYDH4yGQnIo3MREdgUMzGDpyMprmJCMrh0iwk2vl50lLTSc3LwOfx0u4N8TJY3vp
 DUdBMzAjMZLSc8jITMXncVBWdoUd214mKSmT5PQcaps6aYulEtMzsHGi6PvUvWnAvsTnuh6cTr1O
 Ke0HndfW135AAXklT3RawpwvlRpyo38AhVI2SBMlY0g7grRCSLOHeKSN3lAb1ZVldLdWo+woyakp
 FBQNRSiLeDSEGe0FYVM4uISikhGkZefj9ngQQhDsamJwcTE+dx8tGxuaKDt/iqvl59ANF7aM4/X6
 MJwG3Z0tTJk2nWi4ExsPSkpqqi7S0NRES1Bi40ApEyUtwAbVP8YpBEJo9OEX6IaGYeiHfZr/6ebK
 teat/ACg+J5Na2zLXh83rf5OEhtlx5EyirIjKCvcpwCrF2n2IM1u7HgHuozgc4GmLBIDSSQnZ+J0
 ONF1nWg0hLJM3B4vkUiYYGczgZQ0MjMzcTpdJCXn0traDOh0d7VSde0cgUA6iYFUor1BPL4Aht7X
 0zu4qJC1//USqZmFVFaW09TRg+ZMweNNwfAEkMKPFD7QvGiGF6F70DQ3aAZC6LhcOi6n+NR3n1Qb
 Vq9erYTonyZyvWRPfNbrTkw+YVpyhG3bIC2kHUPJCNLqRVm92P0KUGYQaQWxzW6UFUbDwiFsNGGh
 lEUgKRVN0xBAYmISfq8Hh0PH4/FgmjaRSJRwbwjLMgmkZOB0uAGN8otHAUFaeg4OpxcN0JxODE1j
 0eIltLc3s3PHLtq6QwjdyayZsygaPISm1iAVdV1U1IUxpROh+xG6D033IHQHum7gcugXhSs+bXyC
 q3fkyAvqNgYADF6w4WHbUs+atp2obBNpR1BWBGmH+7dDKDuCtKMoO9rHChlDKRPsOBoWmrCRVgyf
 10dqShK6pugNhZCybyVIpDdIb6QHW0lQEr83ifTMPJRto4Sgu6uVWCyGx+PH4ez7wLHicQwkU6fN
 YnTpGPIKcvD7PJw5fZED+w9T3dBBUAawjVSU7kc3fH0MMDxouhvD4egxXNqXKnesWXcr3ttmikaD
 kR0Or2sPV/09AAAD3klEQVSdJnjcRjn7HEhDaA6EshG6Byl0dM2J1N2ge9CkiVRxkNYNX9QMC1sT
 9ER1YtEoUhrIeBwpTZwOHx5/AtCXetu2TWt7N4bhRNN0hCOANMN0hyyEFkfZEkFfT867O/dy6Nj7
 +BKSUEBPV4i4LbAdyeBO6re6s4/2mgFCQ9OEKYRcF+2K7fgw3g8zQABa7rTnJ2qG52e2tKfYVuxm
 CyBNUPH+fROlLLBNlDKR1/dlHKUshDT7YoiyQFqI/qisVP+90u4LsNfjtABNdyDQ+xVu9PViI9CE
 A6HpIHSEcIKmI4SB0J0IzYXQHKA5+rddoDnQNBfoTgzdie5wHpOm/dW6w5892af1uytAwGojf/ay
 5Uo6fmZLK1tKqw+0skBZIGU/EAv6LX79nLL7FHFjX1l975R2X5OqFGD3N1XXo/Utr0YgNL0/ehv9
 oA2EMEAz0DQniOvWdfQxU+g3At316/uU4MAwjEYhzK/V7N/6Nmw0ubV9HCgG3HouZ+Zv5uqa878s
 Ww5S8mZOcCM/UPYt4O0bgPsUY/czoN/SN+avSdStUzeV4uZ6OYFA69sXWr/VbwV2E5zQdKD//HV2
 9LsraGi6jqHrDbYd+Uz9oc/v42Y+eFcXuF0Jc9au0pT+LSnleKmU8zoQhexjwo12t9/CNxTy4XO3
 5KPqlizzVjHETRbcbMP1fqXoNy3d7yZoet+2JgDthgKEppm6pp2SIv5U/XuPvXEn8B9HAcAXHXkz
 ZpYKw/l5qcQjSqpEectsRNUfyVF2//4tDKE/l/iAxa/fewdxbiwuFQjRBwyh9StD6wfff53od5X+
 6zVNQ2haD8h1wjafrz108H14zrrLCz/2gh0xaPKLKZrLtQgh/gHUCKWuj6+pfnrTD/o68Ot0ZwCL
 38kgtzAA+lgA/Uq4JUaI/gRW9B3XNK3fi8RFlPqujMV2NBx/rONuwH9fBdwo2ROf9Rq+lPtR8nFQ
 I6RSWSjc1ymurgNUdwD7AZE+5AK3SXTrctJ+8P0XCSFAENWEaEITF9G031o9HZsbT37pf2Lh5O0l
 c+zvfLrfPVbX7GVKiKECChRko8i/3qegbvm55cjNMgD+6wduHBI3t/t0IGoENCqoFkqV21Lfaoei
 Z5vPPvq/s3R2oGcklb6e5PfHCoTQshGqWClRoAmVJ5VKFWj5CuVGkSn6F0/D7dy8VRCliCJoFoio
 QtZoQrRLJWqFUNUoUaGUbAwZrurufau6B3jU7yf8H3LzwEWJ9JEbfXoKHj0ecymn4VW2QxNCupV2
 +yKtAYWS2EppUaGbUsStsO10xewOIq1lq3v/0NXiHy7/F43cxSzKbmgrAAAAAElFTkSuQmCC
